<!doctype html>

<html>
<head>
	<title>Characterize It</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/pick.css" rel = "stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/sketch.js"></script>
	<script src="js/pick.js"></script>
	<script src="js/bootstrap.min.js"></script>      
</head>

<body>
	<input type="hidden" id="movie_id" value="{{movie_id}}">

	<div class="container">
			<h2 id="title-1">Bob the businessman</h2>

		<button class="btn btn-default get-started" id="6" style="margin-right: 60px">Start over</button>
		<button class="btn btn-default redirect-movie" id="7">Next!</button>
		<a href="#tools_sketch" data-download="png" style="float: right; width: 100px;">
			<img src="/images/download-icon.png" width="50%" height="50%" alt="Download">
		</a>
		<a href="#tools_sketch" style="float: right; width: 100px;">
			<img src="/images/share-icon.png" width="50%" height="50%" alt="Share">
		</a>

		<div class="marker">
		  <a href="#tools_sketch" data-tool="marker">
		  	<img src = "/images/pencil-icon.png" width="5%" height="5%" style="margin-top: 10px">
		  </a>
		</div>
		<div class="eraser">
		  <a href="#tools_sketch" data-tool="eraser">
		  	<img src = "/images/eraser-icon.png" width="5%" height="5%" style="margin-top: 20px">
		  </a>
		</div>

		<canvas id="tools_sketch" width="800" height="600" style="background: url(/images/man.png) no-repeat center center;"></canvas>

		<script type="text/javascript">
		  $(function() {
		    $('#tools_sketch').sketch({defaultColor: "#000"});
		  });
		</script>

		<div class="detail">
			<h6>Inspired by art of Nate Wragg.</h6>
		</div>

	</div>
</body>
</html>
