body{
  background: #FFFFFF;
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
}
.jumbotron{
  background:#000000;
  padding-top:18px;
  padding-bottom:18px;
}
.jumbotron h3{
  color:#FFFFFF;
}
label{
  color:#4EC6DE;  
}

form{
	display:inline;
}
.btnPeople { 
    background-image: url(/css/images/people.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 228px;
    height: 335px;
    cursor: pointer;
    outline: 0;
}

.btnAnimals { 
    background-image: url(/css/images/animals.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 228px;
    height: 335px;
    cursor: pointer;
    outline: 0;
}

.btnOther { 
    background-image: url(/css/images/other.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 228px;
    height: 335px;
    cursor: pointer;
    outline: 0;
}

.btnShapes { 
    background-image: url(/css/images/shapes.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 228px;
    height: 335px;
    cursor: pointer;
    outline: 0;
}

#marker {
  position: absolute;
  left: 75px;
  z-index: 2;
}

#eraser {
  position: absolute;
  left: 75px;
  z-index: 2;
}

#tools_sketch {
  margin-top: -150px;
  margin-left: 50px;
}